

.left {
left: 0;
background-color: rgba(61, 59, 59, 0.348);
color: whitesmoke;
text-align: center
}

.right{
background-color: rgba(34, 32, 32, 0);
right: 10;
color: rgb(247, 244, 241);
text-align: center;
margin-left: 30%;
padding: 20px;
}

.centered img {
    width: 200px;
    border-radius: 20%;
}

h1 {
    color: rgb(228, 225, 225);
    text-shadow: 2px 2px 4px white;
  }

  h3{
    padding: 15%;
    padding-top: 10%;
}

  *{padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(109, 104, 104, 0.274);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(18, 17, 18);
  }
  
  .active {
    background-color: #4d494e;
  }

  .logo {
    padding-top: 2%;
    padding-right: 100%;
  }

  body {
    background-image: url("./images/photo-1459278558918-f94278c0f022.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
   background-size: cover;
  }

.logo{
  padding: 10px;
}
 
.column{
  float: left;
}

.left{
  width: 25%;
}

/* .right{
  width: 75%;
} */

.left ul{
  display: flex;
  gap: 2rem;
}

.left ul li{
  display: flex;
  gap: 2rem;
}

h2 {
  color: rgb(199, 193, 193);
  text-shadow: 2px 2px 4px rgb(80, 77, 77);
}

* {box-sizing: border-box}

h1.test2 {
  writing-mode: vertical-rl;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}